.weather-header-action{
    width: unset;
}

.weather-header-action svg{
   fill: #fff;
}

.weather-header-current {
    vertical-align: super;
}

.weather-header-current {
    margin-left: 6px;
    font-size: small;
    color: #fff;
}