.gallery-image {
  width: 100%;
  cursor: pointer;
}

.gallery-date {
  font-size: smaller;
  margin-right: 0.5em;
  font-weight: bold;
}

.gallery-modal video {
  max-width: 100%;
}

.gallery-entry {
  padding-bottom: 2em;
}

.gallery-grid {
  margin-top: 1em;
}
