.gallery-image {
  width: 100%;
  cursor: pointer;
}

.gallery-col {
  padding-left: 0;
  padding-right: 1em;
  margin-top:  1rem;
  margin-right: 0;
} 

.gallery-date {
  font-size: smaller;
  margin-right: 0.5em;
}

.gallery-modal .bx--modal-container{
  max-width: 90%;
}

.gallery-modal img {
  max-width: 100%;
}