0 18 * * * curl -X POST http://localhost/api/controls -H 'Content-Type: application/json' -d '[{"id":"switch-nightvision","name":"Nachtsicht","type":"SWITCH","isOn":true},{"id":"switch-led-outside","name":"Aussenbeleuchtung","type":"SWITCH","isOn":true},{"id":"rgb-led-inside","name":"Innenlicht","type":"RGB_LED","color":"WHITE","isOn":true}]' >/dev/null 2>&1
0 0 * * * curl -X POST http://localhost/api/controls -H 'Content-Type: application/json' -d '[{"id":"switch-nightvision","name":"Nachtsicht","type":"SWITCH","isOn":true},{"id":"switch-led-outside","name":"Aussenbeleuchtung","type":"SWITCH","isOn":false},{"id":"rgb-led-inside","name":"Innenlicht","type":"RGB_LED","color":"WHITE","isOn":false}]' >/dev/null 2>&1
0 7 * * * curl -X POST http://localhost/api/controls -H 'Content-Type: application/json' -d '[{"id":"switch-nightvision","name":"Nachtsicht","type":"SWITCH","isOn":false},{"id":"switch-led-outside","name":"Aussenbeleuchtung","type":"SWITCH","isOn":false},{"id":"rgb-led-inside","name":"Innenlicht","type":"RGB_LED","color":"WHITE","isOn":false}]' >/dev/null 2>&1